pp{color:#f00;font-family: Microsoft JhengHei,msjhbd;font-size:17px;font-weight:bold;}
tt{color:#000;font-family: Microsoft JhengHei,msjhbd;font-size:17px;font-weight:bold;}


@font-face {
    font-family: 'msjhbd';
    src: url('../font/msjhbd.ttf');
    font-weight: normal;
    font-style: normal;
}
hr {
    height: 1px;
    border: none;
    border-top: 1px dashed #848784;

    margin:30px 0 20px 0;
}


input{
    font-size: 20px;
    font-family: Microsoft JhengHei,msjhbd;
    padding: 5px;
}
input[type="text"]{
    width:200px;
    font-size:19px;
}
#content_profile_from > [type="text"] {
    width:340px;

}
input[type="radio"] {
    width: 18px;
    height: 18px;
}
textarea{width: 435px; height:80px;font-size:19px;font-weight:normal;font-family:Microsoft JhengHei,msjhbd;}


body{background-color: #fff9da ;}

#caption{
    width: 840px;
    height: 200px;

    margin:50px auto 0 ;

    border-radius:10px 10px 0 0 ;
    background-color: #f8c476;
}
#caption_header {
    width: 840px;
    height: 200px;

    color: #333;
    text-align: left;
    font-family: Microsoft JhengHei,msjhbd;
    font-size: 22px;
    font-weight:bold;
    margin: 0 auto;
    padding: 10px 20px 0 ;


    line-height:40px;
    /*background-color: #FF9900;*/
}


#content{
    width: 980px;
    height: 500px;

    margin:0 auto;

    /*background-color: #FF9900;*/
}

#content_description {
    width: 770px;
    height: 200px;

    color: #333;
    text-align: left;
    font-family: Microsoft JhengHei,msjhbd;
    font-size: 22px;
    font-weight:500;
    margin: 0 auto;
    padding: 40px 35px;

    line-height:40px;

    background-color: #ffffff;
}

#content_button{
    width: 240px;
    height: 100px;

    margin:0 auto ;
    padding: 0 300px;

    border-radius:0 0 10px 10px ;

    background-color: #ffffff;
}



.btn {
    width: 250px;
    height: 60px;

    border:#eee 1px solid;
    border-radius: 6px;
    line-height:60px;
    margin-left:5px;

    color: #000;
    font-size: 20px;
    font-family: Microsoft JhengHei,msjhbd;
    text-align:center;
    letter-spacing: 1px;
    font-weight:bold;

    float:left;

    margin-bottom:10px;

    cursor: pointer;
    background-color: #f8c476;
}
    .btn:hover {background-color: #fab44b;}
    .btn:active {background-color: #f7e2c3;}