@font-face {
  font-family:'msjhbd';
  src: url('../fonts/msjhbd.ttf');
  font-weight: normal;
  font-style: normal;
}
html{background-color:#eeeeee;}

#dialog {
    font-family: Microsoft JhengHei,msjhbd;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
}



.ui-dialog .ui-dialog-title {font-family: Microsoft JhengHei,msjhbd;letter-spacing: 2px;font-weight:bold;}
.ui-dialog .ui-dialog-buttonpane button {font-family: Microsoft JhengHei,msjhbd;}



